
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header_section" style="background-color: white"
	th:fragment="header">
	<div class="site-wrap">
		<nav class="navbar navbar-expand-lg custom_nav-container ">
			<a class="navbar-brand" href="/"> <span style="color: black">
					Feane </span>
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"></button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto">

					<li class="nav-item dropdown" style="margin: 10px;"
						sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a
						class="nav-link dropdown-toggle btn btn-secondary"
						style="line-height: 30px;" href="#" role="button"
						data-toggle="dropdown" aria-expanded="false">관리자메뉴</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/admin/menu/new">상품등록</a></li>
							<li><a class="dropdown-item" href="/admin/menus">상품관리</a></li>
						</ul></li>

					<li class="nav-item active"><a class="nav-link"
						style="line-height: 48px;" href="/">Home <span class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a class="nav-link"
						style="line-height: 48px;" href="/menu/feane">menu<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a class="nav-link"
						style="line-height: 48px;" href="/members/qa">What Says Our
							Customers<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item active"><a class="nav-link"
						style="line-height: 48px;" href="/franchisee">가맹점문의<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a class="nav-link"
					style="line-height: 48px;"	href="/members/login" sec:authorize="isAnonymous()"
						id="localHostLink">order history<span class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a class="nav-link" href="/orders"
						style="line-height: 48px;" sec:authorize="isAuthenticated()">주문내역<span class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a class="nav-link"
						style="line-height: 48px;" href="/members/login" sec:authorize="isAnonymous()">장바구니<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a class="nav-link"style="line-height: 48px;" href="/cart"
						sec:authorize="isAuthenticated()">장바구니<span class="sr-only">(current)</span></a></li>
				</ul>

				<div class="user_option">
					<a href="" class="user_link"> </a> <a class="cart_link" href="#"></a>
					<g> <g> <path
						d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
					</g> </g>
					<g> <g> <path
						d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z" />
					</g> </g>
					<g> <g> <path
						d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
					</g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					<g> </g>
					</svg>



					<form th:action="@{/menu/feane}" method="get" class="form-inline">
						<i class="fa fa-search" aria-hidden="true"> <span
							class="btn  my-2 my-sm-0 nav_search-btn"> <input
								type="text" class="fa fa-search" name="searchQuery"
								placeholder="상품검색이 가능합니다.">
						</span>
						</i>
					</form>
					<a href="/members/login" class="order_online"
						sec:authorize="isAnonymous()"> 로그인 </a> <a href="/members/logout"
						class="order_online" sec:authorize="isAuthenticated()">로그아웃</a>
				</div>
			</div>
		</nav>
	</div>
</div>

</html>